#canvas {
    /* width: 480px;
    height: 360px; */
    border: 1px solid #d3d3d3;
    float: left;
}

#div1 {
    position: relative;
    left:0;
    margin-right: 100px;
    width: 50%;
    /* top:10; */
    /* width: 480px;
    height: 360px; */
}

#div2 {
    top: -20px;
    position: relative;
    /* height: 380px; */
}

.text {
    display: block;
}

div {
    display: inline-block;
    position: relative;
    /* border:1px dashed #00F; */
    float: left;
}

#div3 {
    top: 20px;
    margin: 0px;
}

#img {
    /* width: 480px;
    height: 360px; */
}

#img6 {
    vertical-align: middle;
}

video {
    width: 300px;
    height: 250px;
}

#process {
    /* text-align:center; */
    font-weight: bold;
    font-size: 20px;
    /* display: none; */
}



#div5 {
    /* width: 100%; */
    text-align: center;
    width: 50%;
    height: 380px;
    display: none;
}

#div6 {
    position:relative;
    /* display: table-cell; */
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 380px;
    /* padding: 0px 430px; */
    display: none;
    /* border:1px dashed rgb(40, 40, 66); */
}

#img6 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}

#video2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}

#div7 {
    /* display: table-cell; */
    text-align:center; 
    display: none;
    width: 100%;
    /* border:1px dashed rgb(165, 31, 93); */

}

#return_ans {
    display: block;
}

#div4 {
    margin-top: 20px;
    width: 100%;
    display: block;
}

#div2_p {
    top:-20px;
    margin-bottom: 5px;
}

#div {
    width: 100%;
    text-align: center;
}

#p1 {
    font-weight: bold;
    font-size: 30px;
}

#video2 {
    width: 40%;
    height: 80%;
    /* object-fit: fill; */
}

/* #button1 {  
    width: 100px;  
    padding:8px;  
    background-color: #428bca;  
    border-color: #357ebd;  
    color: #fff;  
    -moz-border-radius: 10px;  
    -webkit-border-radius: 10px;  
    border-radius: 10px; 
    -khtml-border-radius: 10px; 
    text-align: center;  
    vertical-align: middle;  
    border: 1px solid transparent;  
    font-weight: 900;  
    font-size:125%  
  } */


/* input[type="file"]  {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
} */
/* .file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
} */ 