#canvas {
    /* width: 250px;
    height: 300px; */
    border: 1px solid #d3d3d3;
    float: left;
}

#div1 {
    position: relative;
    left:0;
    top:10;
    /* width: 700px; */
    height: 300px;
}

#div2 {
    position: relative;
    height: 150px;
}

.text {
    display: block;
}

div {
    position: relative;
    /* border:1px dashed #00F; */
}